.orderCardContainer{
    display: flex;
    border-bottom: 2px solid #EBEBEB;
    margin: 3% 15%;
}

.fire {
    margin-top: 1%;
    width: 30px;
    height: 30px;
}

.calender{
    margin-top: 2px;
    margin-left: 23px;
    height: 14px;
    width: 14px;
}

.historyContentCard{
    width: 100%;
}

.coin-pic {
    width: 88px;
    height: 38px;
    background: var(--coin);
    border-radius: 4px;
    margin-left: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.historyContent{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-left: 23px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.historyContent2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-left: 1%;
    display: flex;
    align-items: center;
}
.left-section, .right-section{
    flex:1
}

.right-section {
    display: flex;
}

.copy-coupon-button{
    background: var(--button-color);
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0% 10%;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
    width: 42%;
    justify-content: center;
}

.coupon-description,.coupon-status{
    display: flex;
    align-items: center;
}

.amazon-coupon,.coupon-description,.coupon-status,.copy-coupon{
    flex: 1;
    display: flex;
    align-items: center;
}

.status-dot{
    height: 7px;
    width: 7px;
    background-color: #108F57;
    border-radius: 50%;
    display: inline-block;
    color: green;
    margin-right:2%;
}

.coupon-description{    
    color: #EE9A24;
    font-size: 16px;
    margin-left: 3%;
    margin-top: 1%;

}

.coupon-status{
}
.historyDate{
    margin-left: 7px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #726868;
    height: 21px;
}

.historyInfo{
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
}

.amazon-coupon{
    position: relative;
    font-size: 16px;
    color: #333333;
    margin-left: 4%;
    margin-top: 1.5%;
}

.copy-border{
    margin-left: -6%;
    width: 305px;
    height: 56px;
}
.coins {
    color: var(--button-color)
}

.copy-green {
    background: #5F9E71;
    color: white
}

.copy-coupon-image {
    position: relative;
}

.copy-coupon-code {
    position: absolute;
    top: 27%;
    left: 11%;
    font-size: 16px;
}

.copy-coupon {
    display: flex;
    justify-content: flex-end;
    height: 42px;
}

.coupon-pic{
    height: 16px;
    width: 13px;
    margin-right: 3%;
}

@media only screen and (max-width: 600px){
    
    .historyContent{
        font-size: 10px;
        margin-left: 4%;
    }
    
    .left-section{
        flex-direction: column;
    }

    .right-section{
        flex-direction: column-reverse;
    }

    .historyDate{
        font-size: 11px;
        margin-top: 0.5%;
    }

    .copy-coupon{
        display: flex;
        justify-content: center;
    }
    
    .copy-coupon-button{
        padding: 7px 13px;
        font-size: 10px;
    }

    .coupon-description{
        font-weight: 600;
        font-size: 10px;
        margin-top: 2%;
    }

    .coupon-status{
        margin-top: 12%;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 12px;
    }

    .coupon-pic{
        height: 16px;
        width: 13px
    }

    .amazon-coupon{
        font-size: 10px;
    }

    .right-section{
        margin-top: 3%;
    }

    .spending-text, .earn-record{
        font-size: 12px;
    }

    .calender{
        margin-top: 0;
    }

    .orderCardContainer {
        margin: 3% 4%;
    }

    .historyInfo {
        margin-left: 3%;
    }

    .calender {
        margin-left: 0px;
    }

    .amazon-coupon {
        margin-bottom: -7%;
    }

    .earn-image {
        display: none;
    }

    .fire {
        margin-top: 3%;
        width: 20px;
        height: 20px;
    }

    .copy-coupon-button{
        width: 77%;
    }

    .copy-coupon-code{
        left: 9%;
        font-size: 9px;
    }

    .copy-border {
        margin-left: -6%;
        width: 171px;
        height: 37px;
    }

    .amazon-coupon-on-way{
        margin-top: 3%;
        margin-left: 3%;
        font-size: 12px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .copy-coupon-button {
        width: 57%;
        font-size: 12px;
    }

    .amazon-coupon {
        font-size: 15px;
        margin-left: 7%;
    }

    .coupon-description {
        font-size: 14px;
        margin-left: 5%;
        margin-top: 2%;
    }

    .calender {
        margin-left: 4%;
    }

    .historyInfo {
        margin-top: 3%;
    }

    .orderCardContainer{
        margin: 3% 8%;
    }
}
