.coinBalanceCard {
  background: linear-gradient(96.68deg, #146ab5 12.55%, #0a487d 71.99%);
  border-radius: 10px;
  margin: 3% 11%;
  display: flex;
  max-width: 100%;
  /* border: solid 1px; */
}

.earnings {
  height: 21px;
  line-height: 21px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin-left: 49px;
}
.amount {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.0025em;
  color: #000000;
  display: inline-block;
  margin-left: 16px;
}

.redeem {
  /* background: #fe8276; */
  background-color: var(--button-color);
  box-sizing: border-box;
  border: 1px solid #975169;
  box-shadow: 0px 4px 10px rgba(151, 81, 105, 0.12);
  border-radius: 5px;
  height: 55px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.dash {
  border: none;
  border-bottom: 1px dashed #000000;
  height: 0px;
  margin-top: 33px;
  margin: 33px 35px 0px 35px;
}

.savedMoneyCard {
  display: flex;
}

.coinsOnWayFlex {
  display: flex;
  margin-top: 36px;
}

.giftPic {
  width: 35px;
  height: 35px;
  margin-left: 5%;
}

.discountPic {
  width: 40px;
  height: 40px;
  margin-left: 5%;
  margin-top: 3%;
}

.savedMoney {
  margin-top: 2%;
}

.coinsOnWay {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin-left: 3%;
  display: flex;
  align-items: baseline;
  width: 100%;
}

.onWayCoinsNumber {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ee9a24;
  background: #ffffff;
  border-radius: 20px;
  width: 15%;
  height: 100%;
  color: #ee9a24;
  align-items: center;
  display: flex;
  justify-content: center;
}

.onWayCoinsPriceNumber {
  background: #ffffff;
  border-radius: 20px;
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1dba78;
}

.coinPic {
  width: 90px;
  height: 90px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 14px;
  background: #ffffff;
  border-radius: 6px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.headerCard {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  margin-top: 2%;
  margin-left: 5%;
}

.desktopPopup {
  background: #ffffff;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* @media (max-width: 1200px) {
  .walletRightSection{
    height: 700px;
  }
} */
.desktopModal {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 16px;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  width: 673px;
  height: 767px;
  border-radius: 16px;
  background: #ffffff;
}

.coinBalanceHeading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
  margin-top: 18px;
  margin-left: 18px;
}

.history {
  float: right;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.0025em;
  text-decoration-line: underline;
  color: #000000;
  margin-right: 39px;
  cursor: pointer;
  display: flex;
  align-items: baseline;
}

.coinBalance {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #fefefe;
  max-width: 100%;
  margin-left: 5%;
  margin-top: 2%;
}

.coinBalanceDiv {
  display: flex;
  align-items: baseline;
}

.coinBalanceRightSection {
  width: 100%;
  display: flex;
}

.rupee {
  margin-left: 180px;
  font-family: harmonia-reg;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
  color: #ffffff;
}

.button-container{
  margin: 5% 11% 3% 11%;
}
@media only screen and (max-width: 600px){
  .savedMoneyCard{
    margin-bottom: 4%;
  }

  .earnings-div{
    display: none;
  }

  .coinBalanceRightSection {
    height: 50px;
  }

  .coinBalanceHeading {
    font-size: 16px;
  }

  .giftPic {
    height: 20px;
    width: 20px;
  }

  .gift-pic-div {
    display: flex;
    align-items: center;
  }

  .coinsOnWayFlex {
    margin-left: 10%;
    margin-top: 0;
  } 

  .coinsOnWay {
    font-size: 16px;
    margin-top: 2%;
  }

  .onWayCoinsNumber {
    font-size: 16px;
  }
}

@media only screen and (min-width: 600px){
  .lifetime-earnings{
    display: block;
    margin: 0 4%;
  }

  .button-container{
    margin-bottom: 3%;
  }

  .coinBalanceCard {
    /* height: 44%; */
  }

}
