.onWayCard {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  padding-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
}
.coinsOrderCard{
  margin: 0 10%;
}

.onWayCardBody {
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: black;
  margin-top: 19px;
}

.historyTag {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #726868;
  margin-top: 16px;
  width: 100%;
}
.coinsHistoryCard {
  flex: 1;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  overflow: auto;
  margin: 3% 0;
}

.coinsOnYourWay {
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.coinHistoryText {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  text-align: center;
  margin-top: 3%;
}

.container {
  margin-top: 100px;
  margin-left: 20%;
}

.linkToHistory {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #fe8276;
  cursor: pointer;
}
.view-all-link {
  margin: 37px 218px;
}

.live {
  margin-top: 25px;
  margin-left: 48px;
}

.onYourWayData {
  margin-left: 16px;
  margin-bottom: 3%;
}

.coinHistoryPopUpHeader {
  padding: 20px 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
  border-bottom: 1px solid #a6a6a6;
}

.popUpContainer {
  background: #ffffff;
  border-radius: 50px;
  height: 300px;
}


.rewards{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.credits{
  color: #108F57;
  font-weight: 600;
}

.coin-pic {
  display: flex;
}

@media only screen and (max-width: 480px){
  .onWayCard{
    /* display: none; */
  }

}