.coinBalanceCard {
  background: linear-gradient(96.68deg, #146ab5 12.55%, #0a487d 71.99%);
  border-radius: 10px;
  margin: 3% 11%;
  display: flex;
  max-width: 100%;
  /* border: solid 1px; */
}

.earnings {
  height: 21px;
  line-height: 21px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #777777;
  margin-left: 49px;
}
.amount {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.0025em;
  color: #333333;
  display: inline-block;
  margin-left: 16px;
}

.redeem {
  /* background: #fe8276; */
  background-color: var(--color-dark);
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0px 4px 10px rgba(151, 81, 105, 0.12);
  border-radius: 5px;
  height: 55px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.4s;
  position: relative;
}

.redeem:hover{
  background-color: #704353;
}

/* .redeem::after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.redeem:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
} */

.dash {
  border: none;
  border-bottom: 1px dashed #000000;
  height: 0px;
  margin-top: 33px;
  margin: 33px 35px 0px 35px;
}

.savedMoneyCard {
  display: flex;
}

.coinsOnWayFlex {
  display: flex;
  margin-top: 36px;
}

.giftPic {
  width: 35px;
  height: 35px;
  margin-left: 5%;
}

.giftPic:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.discountPic {
  width: 40px;
  height: 40px;
  margin-left: 5%;
  margin-top: 3%;
}

.savedMoney {
  margin-top: 2%;
}

.coinsOnWay {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin-left: 3%;
  display: flex;
  align-items: center;
  width: 100%;
}

.onWayCoinsNumber {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ee9a24;
  background: #ffffff;
  border-radius: 20px;
  width: 15%;
  height: 100%;
  color: #ee9a24;
  align-items: center;
  display: flex;
  justify-content: center;
}

.onWayCoinsPriceNumber {
  background: #ffffff;
  border-radius: 20px;
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1dba78;
}

.coinPic {
  width: 90px;
  height: 90px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 14px;
  background: #ffffff;
  border-radius: 6px;
}

.coinPic:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.headerCard {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  margin-top: 2%;
  margin-left: 5%;
}

.desktopPopup {
  background: #ffffff;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* @media (max-width: 1200px) {
  .walletRightSection{
    height: 700px;
  }
} */
.desktopModal {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 16px;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  width: 673px;
  height: 767px;
  border-radius: 16px;
  background: #ffffff;
}

.coinBalanceHeading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
  margin-top: 18px;
  margin-left: 18px;
}

.history {
  float: right;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.0025em;
  text-decoration-line: underline;
  color: #000000;
  margin-right: 39px;
  cursor: pointer;
  display: flex;
  align-items: baseline;
}

.coinBalance {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  color: #fefefe;
  max-width: 100%;
  margin-left: 5%;
  margin-top: 2%;
}

.coinBalanceDiv {
  display: flex;
  align-items: baseline;
}

.coinBalanceRightSection {
  width: 100%;
  display: flex;
}

.rupee {
  margin-left: 180px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
  color: #ffffff;
}

.button-container{
  margin: 5% 11% 3% 11%;
}

.earnings-div-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mobile-coinBalance {
  color: #FEFEFE;
  font-size: 20px;
}

@media only screen and (max-width: 600px){
  .savedMoneyCard{
    margin-bottom: 4%;
  }

  .earnings-div{
    display: none;
  }

  .coinBalanceRightSection {
    height: 50px;
  }

  .coinBalanceHeading {
    font-size: 16px;
  }

  .giftPic {
    height: 20px;
    width: 20px;
  }

  .gift-pic-div {
    display: flex;
    align-items: center;
  }

  .coinsOnWayFlex {
    margin-left: 10%;
    margin-top: 4%;
  } 

  .coinsOnWay {
    font-size: 13px;
  }

  .onWayCoinsNumber {
    font-size: 13px;
  }

  .coinBalanceHeading{
    margin-left: 11%; 
  }

  .amount {
    font-size: 14px;
  }

  .redeem {
    font-size: 19px;
    height: 45px;
  }

  .earnings {
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    color: #777777
  }

  .amount {
    font-size: 17px;
  }
}

@media only screen and (min-width: 600px){
  .lifetime-earnings{
    display: block;
    margin: 0 4%;
  }

  .button-container{
    margin-bottom: 3%;
  }

  .coinBalanceCard {
    /* height: 44%; */
  }

  .coinsOnWayFlex {
    margin-left: 3%;
  }

  .earnings-div-mobile {
    display: none;
  }

  .custom-modal-redeem {
    width: 35%;
  }

  .custom-modal-success {
    width: 25%;
    height: 45%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .coinsOnWay {
    font-size: 14px;
  }

  .gift-pic-div {
    display: flex;
    align-items: center;
  }

  .giftPic {
    width: 20px;
    height: 20px;
  }

  .onWayCoinsNumber {
    font-size: 14px;
  }

  .coinPic {
    width: 60px;
    height: 60px;
  }

  .headerCard {
    font-size: 14px;
    margin-top: 5%;
  }

  .coinBalance{
    font-size: 20px;
  }

  .earnings {
    margin-left: 7%;
    font-size: 14px;
  }

  .amount {
    font-size: 16px;
  }

  .redeem {
    height: 45px;
    font-size: 20px;
  }

  .custom-modal-success {
    width: 25%;
    height: 45%;
  }
}
