::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--button-color); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-normal); 
}

.history-container {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    margin: 2% 5%;
    overflow: auto;
    position: relative;
    padding-bottom: 3%;
}

.how-heading {
  text-align: center;
  background: var(--color-normal);
  border-radius: 16px 16px 0px 0px;
  padding: 20px 0;
  color: var(--basic);
  font-size: 30px;
  letter-spacing: 1px;
}

.history-referral {
  padding: 2% 0%;
  margin: 3% 16%;
  background: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.green-text {
  color: var(--green)
}

.history-referral-header {
  font-size: 18px;
  display: flex;
}

.history-referral-content {
  font-size: 18px;
  margin-top: 1%;
  display: flex;
}

.rewardsAndBurnsHeading {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: 23px;
  margin-left: 8px;
}

.toggleButtons {
  display: flex;
  background: #ebebeb;
  border-radius: 10px;
  height: 50px;
  margin: 2% 30%;
}

.rewards {
  flex: 1;
  margin: 2px;
  border: none;
  padding: 8px;
  background: #ffffff;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.burns {
  flex: 1;
  margin: 2px;
  border: none;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fe8276;
}

.onWayCard {
  overflow: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  padding-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
}
.coinsOrderCard{
  margin: 0 10%;
}

.onWayCardBody {
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: black;
  margin-top: 19px;
}

.historyTag {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #726868;
  margin-top: 16px;
  width: 100%;
}
.coinsHistoryCard {
  flex: 1;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  overflow: auto;
  margin: 3% 0;
}

.coinsOnYourWay {
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.coinHistoryText {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-top: 3%;
}

.container {
  margin-top: 100px;
  margin-left: 20%;
}

.linkToHistory {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #fe8276;
  cursor: pointer;
}
.view-all-link {
  margin: 27px 218px;
}

.live {
  margin-top: 25px;
  margin-left: 48px;
}

.onYourWayData {
  margin-left: 16px;
  margin-bottom: 3%;
}

.coinHistoryPopUpHeader {
  padding: 20px 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #333333;
  border-bottom: 1px solid #a6a6a6;
}

.popUpContainer {
  background: #ffffff;
  border-radius: 50px;
  height: 300px;
}


.rewards{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #333333;
  cursor: pointer;
}

.credits{
  color: #108F57;
  font-weight: 600;
}

.live-div {
  animation: blink normal 2s infinite ease-in-out;
}

@keyframes blink {
  0% {
      opacity:1;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
} 

.no-earnings-header {
  color: #975169;
  font-weight: 700;
  text-align: center;
}

.no-coins-pic {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px){
  .rewards{
    font-size: 15px;
    margin: 1% 1%
  }

  .how-it-works-container{
    margin-bottom: 10%;
  }

  .history-referral {
    margin: 3% 2%;
    padding: 5% 5%;
  }
  
  .toggleButtons {
    border-radius: 0px;
    margin: 2% 2% 7% 2%;
    height: 44px;
  }

  .history-referral-header {
    font-size: 15px;
    display: flex;
  }

  .live-div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .live-div-content {
    flex: 10;
  }

  .live-img {
    height: 20px;
    width: 20px;
  }

  .history-referral-content {
    font-size: 12px;
  }

  .how-heading {
    margin: 5% 5% 0 5%;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    color: black;
    padding-left: 5%;
    display: none;
  }
  
  .rewards {
    line-height: 19px;
  }

  .history-container {
    box-shadow: none;
  }

  .mobile-history-header{
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: 5%;
    font-size: 30px;
    color: #333333;
  }
  
  .no-earnings-header{
    margin: 4% 0;
  }
}

  .no-earnings {
    color: #777777;
    margin-top: 3%;
  }


@media only screen and (min-width: 900px) {
  .no-coins-pic{
    text-align: center;
    margin-top: 4%;
  }

  .no-coins-pic-img {
  }

  .no-earnings {
    margin-top: 2%;
    font-size: 20px;
  }

  .history-container {
    height: 700px;
  }

  .live-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .live-div-content {
    flex: 10;
    font-size: 18px;
  }

  .live-img {
    height: 30px;
    width: 30px;
  }

  .mobile-history-header{
    display: none;
  }

  .no-earnings-header{
    margin: 2% 0;
    font-size: 18px;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .how-heading {
    font-size: 22px;
  }

  .rewards {
    font-size: 16px;
  }

  .live-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .live-div-content {
    flex: 10;
    font-size: 16px;
  }

  .live-img {
    height: 20px;
    width: 20px;
  }

  .history-referral-content{
    font-size: 11px;
  }

  .mobile-history-header{
    display: none;
  }
}