.howItWorksSectionCard {
  display: flex;
  margin-top: 24px;
}

.how-it-works-container {
  overflow: auto;
  border-radius: 16px;
  position: relative;
  margin: 5% 5% 0 5%;
  margin: 2% 5% 0 5%;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.how-heading {
  text-align: center;
  background: #F9E9EE;
  border-radius: 16px 16px 0px 0px;
  padding: 20px 0;
  color: #8D5468;
  font-size: 30px;
  letter-spacing: 1px;
}


.how-content-div {
  display: flex;
  justify-content: space-around;
  margin: 5% 1%;
}

.img-content, .img-sub-content {
  text-align: center;
}

.img-content {
  margin: 10px;
  color: #333333;
}

.img-sub-content {
  width: 70%;
  margin: 0 auto;
  color: #777777;
}

.img-reward {
  text-align: center;
  display: flex;
  justify-content: center;
}

.how-content {
  margin: 0 0%;
}

.how-login {
  text-align: center;
  margin-top: 5%;
}

.how-login-button {
  margin-top: 2%;
  width: 15%;
  height: 50px;
  background-color: #8D5468;
  border: 1px solid #8D5468;
  border-radius: 5px;
  color: white
}

.mcash-balance-nil {
  margin-top: 3%;
  padding: 2% 3%;
  margin: 3% 5%;
  background: linear-gradient(131.46deg, #C9E5FD 1.47%, #DEF0FF 103.63%);
  border-radius: 16px;
}

.mcash-content {
  margin-top: 1%;
}

.how-login-button-div {
  margin-bottom: 3%;
  text-align: center;
}

.custom-modal {
  width: 20%;
}

.mcash-header {
  display: flex;
  align-items: center;
}

.mcash-pic{
  margin-right: .5%;
}

@media only screen and (max-width: 600px) {
  .how-content-div {
    flex-direction: column;
    margin: 5% 4%;
  }

  .how-content {
    display: flex;
    margin: 3% 4%;
  }

  .img-reward {
    height: 50px;
    width: 50px;
  }

  .how-sub-div {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
  }

  .img-sub-content {
    width: 100%;
    margin-left: 10px;
    margin-top: 2%;
    font-size: 14px;
    color: #777777;
    text-align: left;
  }

  .img-content {
    text-align: left;
    margin: 2px 10px 0 10px;
    font-weight: 400;
  }

  .how-login-button {
    width: 50%;
    margin-top: 4%;
  }

  .custom-modal {
    width: 70%;
    border-radius: 10px;
  }

  .mobile-how-it-works-header,.mobile-how-it-works-sub-heading {
    display: block;
  }

  .mobile-how-it-works-header {
    margin-top: 7%;
    text-align: center;
    color: #333333;
  }

  .mobile-how-it-works-sub-heading {
    margin: 2% 7%;
    text-align: center;
    color: #777777
  }

  .how-heading {
    margin-top: 5%;
  }

  .how-login-text {
    padding: 0px 12%;
    font-size: 15px;
  }

  .reward-img{
    max-width: 50px !important;
  }
}

@media only screen and (min-width: 600px) {
  .mobile-how-it-works-header,.mobile-how-it-works-sub-heading {
    display: none;
  }

  .how-it-works-container {
  }

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .img-reward {
    /* height: 50px;
    width: 50px; */
  }

  .how-it-works-container {
  }

}