.headerContent{
    display: block;
}

.modal-Header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
    margin-top: 10px;
    /* border: solid 1px; */
    padding-bottom: 3%;
    text-align: center;
}

.bottom-border {
    border-bottom: 1px solid #DADADA;;
}

.login-input {
    background: #F6F6F6;
    border-radius: 5px;
    height: 50px;
    margin: 12% 5% 0 5%;
}

.login-input-text {
    background-color: #F6F6F6;
    width: 100%;
    line-height: 50px;
    padding-left: 2%;
}

.login-input::placeholder{
    line-height: 20px;
}

.login-button-popup {
  width: 80%;
  height: 50px;
  background-color: #8D5468;
  border: 1px solid #8D5468;
  border-radius: 5px;
  color: white;
  margin-top: 10%;
  font-size: 16px;
}

.login-modal-content {
    color: #777777;;
    text-align: center;
    margin: 0 3%;
    font-size: 14px;
}

@media only screen and (min-width: 600px) {
    .react-responsive-modal-modal {
    }

}