.headerContent{
    display: block;
}

.modal-Header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin-top: 10px;
    /* border: solid 1px; */
    padding-bottom: 3%;
    text-align: center;
}

.bottom-border {
    border-bottom: 1px solid #DADADA;;
}

.login-input {
    background: #F6F6F6;
    border-radius: 5px;
    height: 50px;
    margin: 12% 5% 0 5%;
}

.login-input-text {
    background-color: #F6F6F6;
    width: 100%;
    line-height: 50px;
    padding-left: 2%;
}

.login-input::placeholder{
    line-height: 20px;
}

.login-button-popup {
  width: 80%;
  height: 50px;
  background-color: #8D5468;
  border: 1px solid #8D5468;
  border-radius: 5px;
  color: white;
  margin-top: 10%;
  font-size: 16px;
}

.login-modal-content-mcash {
    color: #777777;;
    text-align: center;
    margin: 0 3% 10% 0;
}

.alert-image {
    text-align: center;
}

.custom-modal-no-mcash {
    width: 22%;
}

.referFriend-in-nomcash {
    background-color: var(--button-color);
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    height: 100%;
    display: flex;
}

  .referText {
    /* border: solid 1px; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    padding: 3% 0;
    display: flex;
    flex: 8;
    justify-content: center;
    align-items: center;
  }

  .referText:hover{
    background-color: var(--color-dark);
  }

@media only screen and (min-width: 600px) {
    .react-responsive-modal-modal {
    }

    .referFriend-in-nomcash {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
    .custom-modal-no-mcash {
        width: 44%;
        height: 41%;
    }
}

@media only screen and (max-width: 600px) {
    .custom-modal-no-mcash {
        border-radius: 10px;
        width: 66%;
        height: 39%;
    }
}