.phone-number-section{
    margin: 2% 5% 0 5%;
    padding: 2% 3% 2% 3%;
    background: #FFF3D9;
    border-radius: 16px;
}

.phone-number-section .input-section {
    display: flex;
    padding: .5% 1%;
    width: 30%;
    /* border: solid 1px; */
    background: #FFFFFF;
    border-radius: 4px;
    margin-top: 1.5%;
    width: 45%;
}

.input-phone-number {
    flex: 6;
}

.phone-number-submit-correct {
    flex: 4;
    padding: 1.5% 0;
    background-color: var(--button-color);
    color: #ffffff;
    border-radius: 4px;
    font-size: 25px;
    cursor: pointer;
}

.phone-number-submit {
    flex: 4;
    padding: 1.5% 0;
    border-radius: 4px;
    background-color: #EDEFED;
    color: #777777;
    font-size: 25px;
    cursor: not-allowed;
}

.phone-number-section .sub-heading {
    margin-top: 1%;
    font-size: 20px;
    color: #333333;
}

.input-phone-text {
    height: 100%;
    width: 100%;
    padding-left: 3%;
    font-size: 25px;
    border: none !important;
    outline: none !important;
}

.input-phone-text::placeholder {
    color: #777777;
    font-size: 20px;
}

.input-phone-text:focus{
    outline: none;
    box-shadow: none !important;
}

.change-phone-link{
    color: var(--button-color);
    text-decoration-line: underline;
    margin-left: 2%;
}

.section-header {
    font-size: 20px;
    color: #333333;
}

.whatsapp-img {
    height: 20px;
    width: 20px;
    margin-bottom: 3px;
}

.custom-modal-success-phone-number {
    height: 28%;
    width: 18%;
}

.phone-success-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.success-message{
    margin-top: 10%;
    font-size: 26px;
    text-align: center;
    color: #333333;
}

.phone-number-details-div{
    font-size: 20px;
}


.phone-number-popup-heading {
    color: #333333;
    font-size: 25px;
}

.phone-number-popup{
    width: 100%;
}

.input-phone-text {
    background-color: #ffffff;
}

.input-phone-popup {
    margin: 4% 0%;
}

.phone-number{
    margin-left: 1%;
}

@media only screen and (max-width: 600px){
    .phone-number-section .sub-heading{
        margin-right: 3%;
        font-size: 12px;
    }

    .phone-number-text{
    }

    .change-phone-link{
        margin-left: 33%;
    }

    .phone-number-details-div{
        font-size: 12px;
        margin-top: 3%;
        margin-bottom: 2%;
    }

    .phone-number{
        margin-left: 2%;
    }

    .phone-number-section{
        padding: 4% 3%;
    }

    .whatsapp-img{
        height: 10px;
        width: 10px;
    }

    .phone-number-section .input-section{
        width: 100%;
        margin-top: 3.5%;
    }

    .phone-number-submit{
        font-size: 17px;
    }

    .input-phone-text::placeholder{
        font-size: 12px;
    }

    .phone-number-section .input-section {
        padding: 2.5% 1%;
    }

    .phone-number-submit, .phone-number-submit-correct{
        font-size: 16px;
    }

    .custom-modal-success-phone-number{
        height: 29%;
        width: 68%;
        border-radius: 15px;
    }

    .phone-number-submit{
        cursor: not-allowed;
    }

    .phone-number-submit-correct{
        cursor: pointer;
    }
}

@media only screen and (max-width: 900px){
    .phone-number-popup-div{
        height: 170px
    }

    .phone-number-popup-heading{
        font-size: 17px;
        margin-left: 8%;
    }

    .phone-number-submit-div{
        width: 80%;
        margin: 0 auto;
    }

    .input-phone-popup{
        margin: 3% auto 6% auto;
        width: 87%;
    }

    .input-phone-text{
        background-color: #ffffff;
        font-size: 16px !important;
    }

}


@media only screen and (min-width:900px) {
    .custom-modal-phone-number {
        width: 33%;
        height: 33%;
        padding: 2% 3%;
    }
}