.modalHeader {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin-top: 10px;
  /* border: solid 1px; */
  display: inline;
}

.coinsList {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.fiveHundred,
.thousand,
.fifteenHundred {
  background: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px #975169;
  color: #975169;
}

.fiveHundredText,
.thousandText,
.fifteenHundredText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
}

.earnAndSave {
  background: var(--color-normal);
  border-radius: 16px;
  margin-top: 22px;
}

.saveHeader {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #223263;
  padding-top: 13px;
  margin-left: 5%;
  text-align: left;
  /* border: solid 1px; */
}

.saveContent {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #726868;
  margin-top: 14px;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.save-content-text {
  margin-left: 3%;
}

.bottom {
  padding-bottom: 19px;
}
.referMore {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #223263;
  margin-top: 12px;
  margin: 3% 4%;
}

.redeemButtonPopUp {
  background: var(--button-color);
  border: 1px solid var(--button-color);
  box-sizing: border-box;
  box-shadow: 0px 4px 10px #a6cad1;
  border-radius: 5px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  height: 44px;
  text-align: center;
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 10px;
  cursor: pointer;
}
.modalContainer {
  /* border: solid 1px; */
}

.headerContent {
  display: flex;
  justify-content: space-between;
}

.redeemCoinBalance {
  /* display: flex; */
  /* border: solid 1px; */
  /* margin-top: 8px; */
}

.redeemCoinBalanceText,
.redeemCoinBalanceAmount {
  display: inline;
}

.redeemCoinBalanceAmount {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: var(--light-green)
}

.redeemCoinBalanceText {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  color: #333333;
}
.addCoins {
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  display: flex;
  padding: 2% 2%;
}

.addCoinsText {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.0025em;
  color: #000000;
  flex: 8
}

.plus,.minus {
  cursor: pointer;
  flex: 1
}

.progressBar {
  margin: 3% 4% 0% 4%;
}

.css-h8g9t7-MuiLinearProgress-bar1 {
  background: var(--progress-bar) !important;
  /* background-color: pink !important; */
}

.css-1hxt08m-MuiLinearProgress-root {
  background: #D1D1D170 !important;
  border-radius: 30px;
  height: 15px !important;
}

.sub-heading-redeem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  margin-top: 2%;
  align-items: center;
}

#error-text-redeem {
  margin-top: 2%;
  font-size: 13px;
  color: #DA2F47;
  margin-left: 1%;
  visibility: hidden;
}


.greenText {
  color: #108F57;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .custom-modal-success {
    width: 67%;
    height: 48%;
    border-radius: 10px;
  }

  .sub-heading-redeem{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .modalHeader{
    margin-left: 0px;
  }

  .redeem-message {
    color: #A6A6A6;
    font-size: 14px;
  }

  .referMore {
    font-size: 14px;
  }

  .greenText{
    font-size: 14px;
  }

  .redeemCoinBalanceText{
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .saveContent {
    margin-top: 7px;
  }

  .react-responsive-modal-modal {
    height: 73%;
    width: 64%;
    border-radius: 16px;
  }

  .custom-modal-success {
    width: 48%;
    height: 27%;
  }
}

@media only screen and (min-width: 900px) {
  .redeemCoinBalance{
    margin-right: 5%;
    display: flex;
    align-items: baseline;
  }

  .redeemCoinBalanceAmount{
    margin-left: 11%;
  }

  .redeem-message {
    color: #A6A6A6;
    font-size: 17px;
  }

  .custom-modal-success {
    width: 30%;
    height: 43%;
  }
  
}