.referContainer {
  overflow: auto;
  background: var(--backgroundGradient);
  border-radius: 16px;
  position: relative;
  margin: 5% 5% 0 5% ;
}

.content {
  margin-left: 3%;
  margin-top: 3%;
}

.top-div-heading,.top-heading {
  font-weight: 700;
  color: var(--basic);
  max-width: 40%;
  letter-spacing: 1px;
}

.top-div-heading {
  font-size: 16px;
  margin-bottom: 1%;
}

.top-heading{
  font-size: 40px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.bottom-div-heading {
  font-weight: 200;
  font-size: 20px;
  color: var(--basic);
  line-height: 26px;
  margin-top: 1%;
  margin-bottom: 3%;
  max-width: 53%;
}


.refer-bold{
  /* font-family: harmonia-bold; */
  font-weight: 600;
  letter-spacing: 1px;
}

.coupon-image-div {
  position: absolute;
}

.coupon-image{
  width: 150%;
  height: 150%;
}


@media only screen and (max-width: 600px) {

  .top-heading{
    font-size: 14px;
    margin-top: 5%;
  }

  .bottom-div-heading{
    font-size: 10px;
    line-height: 12px;
    max-width: 60%;
    margin-bottom: 7%;
  }

  .refer-bold{
    font-weight: 600;
  }

  .bottom-div-content{
    display: inline-block
  }
  
  #top{
    width: 80%;
  }

  .bottom-div-heading{
    line-height: 13px;
  }

  .coupon-image-div {
    height: 100px;
    right: 5%;
    top: 5%
  }

  .top-div-heading {
    max-width: 60% ; 
    margin-top: 7%;
  }

  .top-heading {
    font-size: 30px;
  }

  .bottom-div-content {
    display: none;
  }
  .content{
    margin-left: 6%;
  }

  .coupon-image {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 600px){

  .coupon-image-div {
    height: 200px;
    right: 13%;
    top: 9%;
  }

  .coupon-image {
    height: 130%;
    width: 130%;
  }

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .bottom-div-heading {
    font-size: 14px;
  }

  .coupon-image {
    height: 100%;
    margin-left: 19%;
    margin-top: 7%;
    width: 100%;
  }
}