.referContainer {
  overflow: auto;
  background: var(--color-gradient);
  border-radius: 16px;
  position: relative;
  margin: 5% 5% 0 5% ;
}

.content {
  margin-left: 3%;
  margin-top: 3%;
}

.top-div-heading,.top-heading {
  font-weight: 700;
  color: var(--color-dark);
  max-width: 40%;
  letter-spacing: 1px;
}

.top-div-heading {
  font-size: 14px;
  margin-bottom: 1%;
}

.bottom-div-content{
  font-size: 22px;
}

.top-heading{
  font-size: 36px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.bottom-div-heading {
  font-weight: 200;
  font-size: 20px;
  color: var(--color-dark);
  line-height: 26px;
  margin-top: 1%;
  margin-bottom: 2%;
  max-width: 65%;
}


.refer-bold{
  /* font-family: harmonia-bold; */
  font-weight: 600;
  letter-spacing: 1px;
}

.coupon-image-div {
  position: absolute;
}

.coupon-image{
  width: 150%;
  height: 150%;
}




@media only screen and (max-width: 600px) {

  .top-heading{
    font-size: 14px;
    margin-top: 5%;
  }

  .bottom-div-heading{
    font-size: 10px;
    line-height: 12px;
    max-width: 60%;
    margin-bottom: 7%;
  }

  .refer-bold{
    font-weight: 600;
  }

  .bottom-div-content{
    display: inline-block
  }
  
  #top{
    width: 80%;
  }

  .bottom-div-heading{
    line-height: 13px;
  }

  .coupon-image-div {
    height: 100px;
    width: 100px;
    right: 5%;
    top: 5%
  }

  .top-div-heading {
    max-width: 60% ; 
    margin-top: 7%;
  }

  .top-heading {
    font-size: 30px;
  }

  .bottom-div-content {
    display: none;
  }
  .content{
    margin-left: 6%;
  }

  .coupon-image {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 600px){

  .coupon-image-div {
    height: 200px;
    width: 230px;
    right: 9%;
    top: 9%;
  }

  .coupon-image {
    height: 130%;
    width: 130%;
  }

  .coupon-image:hover {
    animation: shake 0.5s alternate infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .bottom-div-heading {
    font-size: 14px;
  }

  .coupon-image {
    height: 100%;
    margin-left: 19%;
    margin-top: 3%;
    width: 100%;
  }
}