.referAFriendContainer {
  overflow: auto;
}

.refer-code-header {
  margin-left: 3%;
  font-size: 20px;
  margin-bottom: 1%;
  color: #ffffff;
}

.referral-code {
  max-width: 100%;
  margin-right: 38%;
  overflow: auto;
  display: flex;
}

.coupon {
  background-color: #ffffff;
  border-radius: 5px;
  flex:6;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.couponText {
  font-style: normal;
  font-weight: normal;
  color: #2fa83b;
  display: flex;
  font-size: 15px;
  align-items: center;
  font-size: 25px;
  padding: 0 0 0 5%;
  flex: 2;
  height: 40px;
}


.copyCouponDiv{
  flex: 1.5 1;
}

.copyCoupon {
  background: #edefed;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 20px;
  color: #8a8a8a;
  height: 74%;
  width: 82%;
  cursor: pointer;
  margin: 3% 0 3% 5%;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.referFriend {
  background-color: var(--button-color);
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  display: flex;
}

.referText {
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  flex: 8;
}

.sharePic{
  margin-right: 5%;
  height: 17px;
  width: 19px;
}

.share-img-div{
  flex:2;
}

.tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copy-green{
  background: #5F9E71;
  color: white
}

.copy-pic-referral {
  height: 50%;
  width: 10%;
  margin-right: 4%;
}

@media only screen and (max-width: 600px) {
  .referAFriendContainer {
    box-sizing: border-box;
    /* border-radius: 3px; */
  }

  .couponText {
    font-size: 15px;
  }

  .referral-code {
    flex-direction: column;
    /* background: linear-gradient(-90deg, #1469B3 -1.36%, #222E54 77.79%);  */
    background: var(--backgroundGradient);
    margin-right: 0;
  }

  .refer-code-header {
    font-size: 15px;
    margin-bottom: 4%;
    color: var(--basic)
  }
  
  .coupon {
    border: none;
    margin-left: 4%;
    background: #FFFFFF;
    border-radius: 6px;
    margin-right: 4%;
    margin-bottom: 4%;
  }

  .refer-friend-container{
    margin: 0 4% 5% 4%;
    height: 44px;
  }

  .referText {
    /* border: solid 1px; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    padding: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .share-img-div {
    flex: 4;
  }

  .copyCoupon {
    font-size: 14px;
    height: 30px;
  }

  .sharePic{
    margin-right: 3%;
    width: 4%;
    margin-top: .3%;
    height: 68%;
  }

  .refer-code-header{
    margin-left: 5%;
  }
}


@media only screen and (min-width: 600px) {
  .referAFriendContainer {
    margin-top: 4%;
    background: var(--backgroundGradient);  
  }

  .referral-code {
    margin-bottom: 3%;
    height: 55px;
  }

  .refer-code-header {
    font-weight: bold;
    color: #333333
  }

  .refer-friend-container{
    flex:4 
  }

  .copyCouponDiv{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: -3.5%;
  }

  .referText {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .referFriend {
    margin-left: 6%;
    display: flex;
    align-items: center;
  }

  .refer-friend-width-no-customer-id {
    width: 38%;
  }

  .refer-friend-width-with-customer-id {
    width: 92%;
  }

  .sharePic{
    margin-right: 5%;
    height: 17px;
    width: 19px;
  }

  .custom-modal {
    width: 20%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .sharePic {
    margin-right: 8%;
    height: 92%;
    width: 10%;
  }

  .referText {
    font-size: 14px;
  }
  
  .couponText {
    font-size: 18px;
  }

  .copyCoupon {
    font-size: 12px;
  }

  .referral-code {
    height: 46px;
    margin-right: 28%;
  }

  .coupon {
    margin-left: 3%;
  }

  .referral-code {
    margin-right: 6%;
  }

}