.rewardsAndBurnsHeading {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: 23px;
  margin-left: 8px;
}

.rewards {
  flex: 1;
  margin: 2px;
  border: none;
  padding: 8px;
  background: #ffffff;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.burns {
  flex: 1;
  margin: 2px;
  border: none;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fe8276;
}

@media only screen and (max-width: 480px){
  .rewards{
    font-size: 15px;
  }
}
