.walletCardsContainer {
  display: flex;
  margin-top: 38px;
  background: linear-gradient(131.46deg, #C9E5FD 1.47%, #DEF0FF 103.63%);
  border-radius: 16px;
  margin: 2% 5% 0 5%;
}

.walletCardImage {
  flex: 1;
  height: 100%;
  width: 100%;
  /* border: solid 1px; */
}

.coinBalanceCardContainer {
  overflow: auto;
  flex: 1.5;
}


.gifr-pic-div {
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 600px) {
  .walletCardImage, .coinBalanceCardContainer {
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 600px) {
  .container-dash-border{
    border-width: 0 0 0 1px;
    border-style: dashed;
  }

  .walletCardsContainer{
    height: 235px;
  }
}

@media only screen and  (min-width: 600px) and (max-width: 900px) {
  .walletCardsContainer {
    height: 210px;
  }
}
