/* @font-face {
  font-family: harmonia-reg;
  src: url(./fonts/HarmoniaSansProCyr-Regular.ttf);
}


@font-face {
  font-family: harmonia-bold;
  src: url(./fonts/HarmoniaSansProCyr-Bold.ttf);
}

@font-face {
  font-family: harmonia-light;
  src: url(./fonts/HarmoniaSansProCyr-Light.ttf);
} */

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: harmonia-reg; */
}


:root {
  /* --backgroundGradient: linear-gradient(97.06deg, #FCE2EB 37.38%, #BE91A0 127.27%); */
  --button-color: #8D5468;
  --blue: #1e90ff;
  --color-normal:#F9E9EE;
  --white: #ffffff;
  --basic: #8D5468;
  --green: #108F57;
  --light-green:#5f9e71;
  --coin: #FCF0D2;
  --color-light:#8D5468;
  --progress-bar: linear-gradient(180deg, #95CD6C 14.9%, #C3DD7F 100%);
  --color-gradient: linear-gradient(97.06deg, #FCE2EB 37.38%, #BE91A0 127.27%);
}


div:empty{
  display: block;
}

a:not([href]) {
  cursor: pointer;
}

.indexedStep {
  align-items: center;
  background-color: hsla(0,0%,83%,.8);
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 12px;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.indexedStep.accomplished {
  background-color: var(--border);
}

@media only screen and (min-width: 600px) {

  .main-container{
    margin-bottom: 10%;
  }

  .coinBalanceHeading {
    display: none;
  }
  .mobileReferralCode {
    display: none;
  }

  .coinsOnYourWay {
    margin-left: 15px;
    margin-right: 14px;
  }

  .onWayCardBody {
    font-size: 24px;
  }

  .coinsOnWayFlex {
    margin-top: 36px;
  }

  .react-responsive-modal-modal {
    border-radius: 16px;
    animation-fill-mode: forwards !important;
  }

  .react-responsive-modal-overlay{
    animation-fill-mode: forwards !important;
  }

  .progress-bar-saturn-step {
    margin-top: 5%;
  }

  .progress-bar-container {
    margin: 0 10%;
    text-align: center
  }
  

}

@media only screen and (max-width: 600px) {
  .walletCardsContainer {
    flex-direction: column-reverse;
    display: flex;
    margin: 4% 5% 4% 5%;
  }
  
  .progress-bar-saturn-step {
    margin-top: 5%;
  }

  .progress-bar-container {
    margin: 0 8%;
    text-align: center;
  }

  .coinsHistoryCard {
    display: none;
    box-shadow: none;
  }

  .walletCardImage {
    height: 221px;
    width: 100%;
  }

  .coinBalanceCardContainer {
    height: 302px;
    width: 100%;
  }

  .headerCard,
  .coinPic,
  .coinsHistoryCard,
  .rupee {
    display: none;
  }


  .howItWorksImageContainer {
    box-shadow: none;
  }

  .howItWorksSectionCard {
    display: block;
    margin-bottom: 0;
  }

  .livePic {
    height: 20px;
    width: 20px;
  }
  .coinsOnYourWay {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  }

  .mobileReferralCode {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .amount {
    font-weight: 700;
  }

  .onWayCardBody {
    font-size: 14px;
  }

  .howItWorksImageContainer {
    box-shadow: none;
  }

}
