@font-face {
  font-family: harmonia-reg;
  src: url(./fonts/HarmoniaSansProCyr-Regular.ttf);
}


@font-face {
  font-family: harmonia-bold;
  src: url(./fonts/HarmoniaSansProCyr-Bold.ttf);
}

@font-face {
  font-family: harmonia-light;
  src: url(./fonts/HarmoniaSansProCyr-Light.ttf);
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: harmonia-reg;
}


:root {
  --backgroundGradient: linear-gradient(97.06deg, #FCE2EB 37.38%, #BE91A0 127.27%);
  --button-color: #8D5468;
  --blue: #1e90ff;
  --color-normal:#F9E9EE;
  --white: #ffffff;
  --basic: #8D5468;
}



html {
  --mars-coins : rgb(254, 130, 118);
}


div:empty{
  display: block;
}

a:not([href]) {
  cursor: pointer;
}

.react-responsive-modal-modal{
  height: 70%;
  width: 30%;
  border-radius: 16px;
}


@media only screen and (min-width: 600px) {

  .main-container{
    margin-bottom: 10%;
  }

  .coinBalanceHeading {
    display: none;
  }
  .mobileReferralCode {
    display: none;
  }

  .coinsOnYourWay {
    margin-left: 15px;
    margin-right: 14px;
  }

  .onWayCardBody {
    font-size: 24px;
  }

  .coinsOnWayFlex {
    margin-top: 36px;
  }
}

@media only screen and (max-width: 600px) {
  .walletCardsContainer {
    flex-direction: column-reverse;
    display: flex;
  }

  .coinsHistoryCard {
    display: none;
    box-shadow: none;
  }

  .walletCardImage {
    height: 221px;
    width: 100%;
  }

  .coinBalanceCardContainer {
    height: 302px;
    width: 100%;
  }

  
  .walletCardImage,
  .coinBalanceCardContainer {
  }

  .headerCard,
  .coinPic,
  .coinsHistoryCard,
  .rupee {
    display: none;
  }


  .howItWorksImageContainer {
    box-shadow: none;
  }

  .howItWorksSectionCard {
    display: block;
    margin-bottom: 0;
  }

  .livePic {
    height: 20px;
    width: 20px;
  }
  .coinsOnYourWay {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  }

  .mobileReferralCode {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .earnings {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.0025em;
    color: #000000;
  }

  .amount {
    font-weight: 700;
  }

  .onWayCardBody {
    font-size: 14px;
  }

  .howItWorksImageContainer {
    box-shadow: none;
  }

}

